.players {
	text-align: center;
	opacity: 0.5;
	pointer-events: none;

	&.in-play {
		opacity: 1;
		pointer-events: initial;
	}
}

.player {
	position: relative;
	float: left;
	overflow: hidden;
	width: 23%;
	margin: 1% 1%;
	background: rgba(255,255,255, 0.5);
	border: solid 5px #FFF;
	border-radius: 3%;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.player-name {
	height: 3.5rem;
	margin: 0;
	padding: 0 1em;
	font-size: 1.6em;
	font-weight: bold;
	letter-spacing: 2px;
	color: #FFF;
	text-shadow: 1px 1px #000;
	text-align: center;
	text-transform: uppercase;
	line-height: 3.5rem;
	background: rgba(0, 0, 0, 0.05);

	:first-child > & {
		background: rgba(66, 91, 165, 0.7);
	}

	:nth-child(2) > & {
		background: rgba(206, 60, 60, 0.7);
	}

	:nth-child(3) > & {
		background: rgba(163, 75, 118, 0.7);
	}

	:nth-child(4) > & {
		background: rgba(238, 193, 97, 0.7);
	}

	:nth-child(5) > & {
		background: rgba(111, 141, 81, 0.7);
	}

	.banker-present :last-child > & {
		background: rgba(0, 0, 0, 0.3);
	}
}

.player-info {
	height: 14rem;
	padding: 1em;

	.payout-on & {
		opacity: 0.05;
	}
}

.blurred {
	color: #DDD;
}

.player-worth {
	margin: 1.5em 0;
	font-size: 1.6em;
	text-align: center;
}

.payout, .getPaid {
	position: absolute;
	top: 3.5rem;
	left: 0;
	width: 100%;
	height: 12rem;

	text-align: center;
	color: #FFF;
}

.payout {
	background: rgba(255, 0, 0, 0.35);
}

.getPaid {
	background: rgba(0, 255, 0, 0.35);
}


.payout, .getPaid {
	font-size: 8em;
	font-weight: bold;
	text-shadow: -3px 2px rgba(0,0,0,0.25);
	line-height: 11rem;
}

.player-options {
	position: absolute;
	bottom: 0;
	z-index: 5;
	width: 100%;

	button {
		display: inline-block;
		float: left;
		margin: 0;
		height: 2rem;
		color: #333;
		border-radius: 0;
		box-shadow: 0;
	}
}

.player-options--recieve,.player-options--pay {
	width: 50%;

	&:focus {
		outline: none
	}
}

.player-options--recieve {
	background: rgba(0, 255, 0, 0.35);
}

.player-options--pay {
	background: rgba(255, 0, 0, 0.35);
}

