<!DOCTYPE html>
<html ng-app="banker">
    <head>
        <title>The Banker</title>

        <link href='http://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/styles.css">

        <script type="text/javascript" src="js/angular.js"></script>
        <script type="text/javascript" src="js/app.js"></script>

    </head>
    <body ng-controller="gameCtrl" ng-view>
        <header class="master-header">
            <h1>The Banker</h1>
            <div class="top-bar">
                <div class="wrap">
                    <div class="pre-game-form" ng-hide="gameStarted">
                        <button class="start-game-button" ng-click="start()">Start Game</button>
                        <form ng-submit="addPlayer()">
                            <input class="player-name-input" autofocus="autofocus" type="text" name="player-name" ng-model="newPlayer" required>
                            <button type="submit">Add Player</button>
                        </form>
                    </div>

                    <div class="in-game-form" ng-show="gameStarted">
                        <form ng-submit="pay()">
                            <input class="amount-input" type="number" name="amount" placeholder="$" ng-model="amount" required>
                            <button type="submit">Make Transaction</button>
                        </form>
                    </div>
                </div>
            </div> <!-- end .top-bar -->
            <div class="alert" ng-class="{'show-alert': alertText}">
                <span class="alert-message">{{ alertText }}</span>
                <button class="alert-close-button" close-alert>close</button>
            </div>
        </header>
        <div class="content">
			<div class="players" ng-class="{'in-play': gameStarted, 'banker-present' : gameStarted}">
                <div class="wrap">
                    <div class="player" id="{{$index}}" ng-repeat="player in players" ng-class="{ blurred: player.pay || player.recieve }">
                        <h2 class="player-name">{{ player.name }}</h2>

                        <div class="player-info">
                            <h3 class="player-worth" ng-if="player.money">{{ player.money | currency }}</h3>

                        </div>

                        <div class="payout" ng-show="player.pay">
                            <span>-</span>
                        </div>

                        <div class="getPaid" ng-show="player.recieve">
                            <span>+</span>
                        </div>

                        <div class="player-options">
                            <button class="player-options--pay" ng-click="setPay($index)"><span ng-hide="player.pay">Pay</span></button>
                            <button class="player-options--recieve" ng-click="setRecieve($index)"><span ng-hide="player.recieve">Profit</span></button>
                        </div>
                    </div>
                </div>
			</div>
        </div>
        <footer>Ted Waller | <a href="http://github.com/tbwiii">Github</a> | <a href="http://twitter.com/tbwiii">Twitter</a></footer>
    </body>
</html>
